# Node modules
node_modules/
server/node_modules/

# Build folders
.vite/
dist/

# Environment variables
.env
server/.env

# Uploaded images
server/uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
